name: test

on:
  - push
  - pull_request

jobs:
  gettext:
    name: build gettext
    runs-on: macOS-latest
    env:
      gettext_version: 0.20.2
      vim_prefix: /var/tmp/vim
    steps:
      - uses: actions/checkout@v2
      - run: echo "::set-env name=macos_version::$(sw_vers -productVersion)"
      - id: gettext
        run: echo "::set-output name=archive::gettext-macos-${macos_version}.tar.xz"
      - id: cache-gettext
        uses: actions/cache@v2
        with:
          path: ${{ steps.gettext.outputs.archive }}
          key: ${{ runner.os }}-${{ env.macos_version }}-gettext-${{ env.gettext_version }}
      - run: curl -fsSLO https://ftp.gnu.org/pub/gnu/gettext/gettext-${gettext_version}.tar.xz
        if: steps.cache-gettext.outputs.cache-hit != 'true'
      - run: tar fvx ./gettext-${gettext_version}.tar.xz
        if: steps.cache-gettext.outputs.cache-hit != 'true'
      - run: rm -f ./gettext-${gettext_version}.tar.xz
        if: steps.cache-gettext.outputs.cache-hit != 'true'
      - run: >
          ./configure
          --prefix=${vim_prefix}/share/gettext
          --disable-c++
          --disable-csharp
          --disable-debug
          --disable-dependency-tracking
          --disable-java
          --disable-silent-rules
          --enable-relocatable
          gl_cv_func_ftello_works=yes
          --with-included-gettext
          --with-included-glib
          --with-included-libcroco
          --with-included-libunistring
          --without-bzip2
          --without-cvs
          --without-emacs
          --without-git
          --without-xz
        if: steps.cache-gettext.outputs.cache-hit != 'true'
        working-directory: gettext-${{ env.gettext_version }}
      - run: make -C ./gettext-${gettext_version}
        if: steps.cache-gettext.outputs.cache-hit != 'true'
      - run: make -C ./gettext-${gettext_version} install
        if: steps.cache-gettext.outputs.cache-hit != 'true'
      - run: rm -rf "${vim_prefix}/share/gettext/share/doc"
        if: steps.cache-gettext.outputs.cache-hit != 'true'
      - run: tar cfJv ${archive} -C ${vim_prefix}/share gettext
        if: steps.cache-gettext.outputs.cache-hit != 'true'
        env:
          archive: ${{ steps.gettext.outputs.archive }}
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.gettext.outputs.archive }}
          path: ${{ steps.gettext.outputs.archive }}
  vim:
    name: build Vim
    runs-on: macOS-latest
    needs:
      - gettext
    env:
      configurations: >
        --enable-fail-if-missing
        --disable-smack
        --disable-selinux
        --disable-xsmp
        --disable-xsmp-interact
        --enable-luainterp=dynamic
        --enable-pythoninterp=dynamic
        --enable-python3interp=dynamic
        --enable-cscope
        --disable-netbeans
        --enable-terminal
        --enable-multibyte
        --disable-rightleft
        --disable-arabic
        --enable-gui=no
        --with-compiledby=sasa+1
        --with-features=huge
        --with-luajit
        --without-x
        --with-tlib=ncurses
      datadir: /usr/share
      gettext_version: 0.20.2
      prefix: /var/tmp/vim
    steps:
      - uses: actions/checkout@v2
      - run: echo "::set-env name=macos_version::$(sw_vers -productVersion)"
      - run: echo "::set-env name=MAKEFLAGS::-j $(getconf _NPROCESSORS_ONLN)"
      - uses: actions/download-artifact@v2
        with:
          name: gettext-macos-${{ env.macos_version }}.tar.xz
      - run: >
          git config --global user.name sasaplus1 &&
          git config --global user.email '<>'
      - run: brew update
      - run: brew install autoconf coreutils gnu-sed lua@5.1 luajit python
        continue-on-error: true
      - run: tar xvf gettext-macos-${macos_version}.tar.xz
